<div class="footer-container">
    <footer class="mt-3 footer">
        <nav class="navbar navbar-custom">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand mt-0 footer-custom">
                    <img src="/img/Panda_Icon_White.png" alt="" height="50px" width="50px">
                    Ani-lyst | Created By Pedro Bueno
                </a>  
            </div>
        </nav>
    </footer>
</div>
